@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    width: 100%;
    background: black url(img/bacground1.jpg) center center no-repeat fixed;
    background-size: cover;
}

html
{
    scroll-behavior: smooth;
}
/* Nav Bar */

nav{
    
    display:flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}
.logo{
    background-image: url(img/EXPLORE-removebg-preview.png);
    height: 50px;
    width: 80px;
    margin-top: 2px;
}
.btn-blue{
    background-color: #70cfe0;
    padding: 10px 25px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}
.btn-blue:hover
{
    transform: scale(0.9);
    
}
nav ul{
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    
}

nav ul li{
    margin: 0 5px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    background-color: #1e26275b;
}

nav .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
}
@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #70cfe0;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #70cfe0;
    }   
}

/* Nav Bar End */

/* HOME */

.b
{
    background-color: #70cfe0;
    padding: 10px 40px;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    transition: 0.3s;
}

.b:hover
{
    color: #00000063;
    opacity: 0.9;
    transform: scale(0.9);
}

section 
{
    padding: 0 15%;
}
.seletion
{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    font-family: 'Work Sans', sans-serif;
}

.texto h1
{
    font-size: 90px;
    font-weight: 800;
    mask-border: 5px;
    color: rgb(243, 243, 237);
}

.texto p
{
    font-size: 25px;
    font-weight: 600;
    color: rgb(216, 216, 199);
}

/* responsivo*/

@media (max-width: 950px){
    .texto h1
    {
        font-size: 50px;
    }

    .texto p 
    {
        font-size: 15px;
    }
}

.butao 
{
    position: absolute;
    bottom: 25%;
    left: 43.5%;
    padding: 12px 45px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

.butao:hover
{
    transform: scale(0.9);
    color: #0000008e;
}

/*END HOME*/

/* SOBRE*/
.section2
{
    
    height: 100vh;
    width: 100%;
    background: #fff;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 10fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
}

.teste 
{
    position: relative;
    height: 250px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    margin-left: 50px;
}

#so 
{
    position: absolute;
    left: 28%;
}

#soo 
{
    position: absolute;
    left: 63.9%;
}

.section2 h1
{
    top: 2%;
    left: 38%;
    margin-top: 20px;
    font-size: 50px;
    color: #000000;
    position: absolute;
}


.texto2f h2
{
    font-size: 1.7em;
    font-weight: 800;
    mask-border: 5px;
    margin-left: 50px;
    color: #EC0B43;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.texto2f p
{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/*END SOBRE*/


/*Controle*/
.section3
{
    
    height: 90vh;
    width: 100%;
    background: black url(img/bacground2.jpg) center center no-repeat fixed;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.texto3f h1
{
    font-size: 3em;
    font-weight: 800;
    mask-border: 5px;
    color: rgb(243, 243, 237);
    font-family: 'Poppins', sans-serif;
}

.texto3f h4
{
    font-size: 1.7em;
    font-weight: 800;
    mask-border: 5px;
    color: rgb(151, 6, 6);
    font-family: 'Poppins', sans-serif;
}

.texto3f p
{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(216, 216, 199);
    font-family: 'Poppins', sans-serif;
}

/*END CONTROLE */

/*Equipe*/
.section4
{
    
    height: 100vh;
    width: 100%;
    background: #e9e0e0;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;  
}

.imagems4
{
    position: relative;
    height: 350px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgb(170, 150, 150);
    margin-left: 50px;
}
.texto4f h1
{
    font-size: 3em;
    font-weight: 800;
    mask-border: 5px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

.texto4f h4
{
    font-size: 1.7em;
    font-weight: 800;
    mask-border: 5px;
    color: rgb(151, 6, 6);
    font-family: 'Poppins', sans-serif;
}

.texto4f p
{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    
}

#buy:hover
{
    background-color: rgb(54, 221, 54);
}

#buy a 
{
    text-decoration: none;
    color: #000000;
}

/*END EQUIPE*/

/*Footer*/

.footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    font-family: 'Work Sans', sans-serif;
    height: 15vh;
    width: 100%;
    background: #070707;
    
}

.textof h1
{
    font-size: 30px;
    font-weight: 800;
    mask-border: 5px;
    color: rgb(243, 243, 237);
    
}

.textof p
{
    font-size: 15px;
    font-weight: 600;
    color: rgb(216, 216, 199);
}

.textof > #suporte
{
    color: #036a7c;
    font-size: 14PX;
    transition: 0.5s;
}

#suporte:hover
{
    color: #06b5d4;
}

#suporte
{
    padding-right: 10px;
    
}

/*END FOOTER*/
